[submodule "orche"]
	path = orche
	url = https://github.com/zmfkzj/pi-orche.git
	branch = master
[submodule "browser"]
	path = browser
	url = https://github.com/zmfkzj/pi-browser.git
	branch = master
[submodule "pi-commit"]
	path = pi-commit
	url = https://github.com/zmfkzj/pi-commit.git
	branch = main
[submodule "images"]
	path = images
	url = https://github.com/zmfkzj/pi-images.git
	branch = main
